In [1]:
#installing dependcies
!pip install PyArabic

Collecting PyArabic
  Downloading PyArabic-0.6.14-py3-none-any.whl (126 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 126 kB 2.8 MB/s
Requirement already satisfied: six>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from PyArabic) (1.15.0)
Installing collected packages: PyArabic
Successfully installed PyArabic-0.6.14

In [2]:
import requests
import json
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
import string
import sys
import pyarabic.araby as araby
import nltk 
from nltk.corpus import stopwords
from nltk import word_tokenize, sent_tokenize
from textblob import Word

from sklearn import preprocessing

In [3]:
#For google colab we mount google drive 
from google.colab import drive 
drive.mount("/content/drive/")

Mounted at /content/drive/

In [4]:
tweets_data_path = "/content/drive/MyDrive/tweets_dataset.csv"

In [5]:
df=pd.read_csv(tweets_data_path, encoding='utf-8', lineterminator='\n')

In [6]:
df['tweets'] = df['tweets'].astype(str)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  458197 non-null  int64
 1   id          458197 non-null  int64
 2   dialect     458197 non-null  object
 3   tweets      458197 non-null  object
dtypes: int64(2), object(2)
memory usage: 14.0+ MB

In [8]:
df.loc[:,['dialect','tweets']].head(15)

   dialect                                             tweets
0       IQ   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1       IQ  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2       IQ                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3       IQ         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4       IQ                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº
5       IQ  @Badi9595 @KanaanRema ÙŠØ§Ø§Ø®ÙŠ Ø§Ù„Ø¥Ø±Ù‡Ø§Ø¨ÙŠ Ø§Ø°Ø§ ÙƒØ§Ù† Ø¹...
6       IQ  @SarahNadhum90 @nUBNTdfVgACYQxV Ù…Ø·Ù„Ø¨ÙŠ ÙŠÙ‚Ø¯Ù… Ø§Ø³Øª...
7       IQ  @KanaanRema @Badi9595 Ø®Ù„Øµ ÙˆØ§Ù„Ù„Ù‡ Ù„Ø¹ÙŠÙˆÙ†ÙƒÙ… Ø§Ù†Ø§ Ù…Ø§...
8       IQ  @SalahAlarbawi ÙŠÙ…ÙƒÙ† Ø³Ø¤Ø§Ù„ ÙØ§Øª Ø§Ù„ÙƒØ«ÙŠØ± Ø§Ù„Ù„ÙŠ ÙŠØµÙˆØ± ...
9       IQ  @Eng_alow91 @cb4LwpWrS1hT5lb @EdyCohen Ø§ÙˆÙ„Ø§ Ø§Ù†...
10      IQ  @kamal1277New ÙˆØ§Ù„Ù„Ù‡ Ù‡Ø°Ø§ Ø§Ù„Ù…ÙˆØ¶ÙˆØ¹ Ø¬Ø¯Ø§Ù‹ Ø­Ø³Ø§Ø³ ÙˆÙŠØ­ÙŠ...
11      IQ  @cb4LwpWrS1hT5lb Ù„Ø§ Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ Ø§Ø®ÙˆÙ‡ ÙŠØ¬Ù…Ø¹Ù†Ù‡ Ø§Ù„...
12      IQ    @QSHRXxV36EfuNXV ÙŠØ³Ø¹Ø¯ Ù…Ø³Ø§Ùƒ Ø³ÙŠØ¯ Ø§Ù„Ø­Ø±Ù Ø§Ù„Ø­Ø²ÙŠÙ† ğŸŒ·ğŸ™ğŸŒ¹
13      IQ  @3Obeidi Ù‡Ù‡Ù‡Ù‡Ù‡ Ø¹Ø¯ÙˆÙ„Ù‡ Ú¯Ù„Ø¨Ù‡ ÙˆØ±Ù… Ù…Ù† Ø¹Ø¯Ù†Ù‡ .. Ú¯Ù„Ùƒ Ø®...
14      IQ       @0b9lxe0ZNEUlnQm ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ğŸŒºØ±ÙˆØ¹Ø§Øª ØªÙˆØ§ØµÙ„ÙƒğŸŒ·

## **Text Pre-processing**

Description

**Text Cleaning**

In [9]:
###############



1. Removing Punctuations and Symbols

In [10]:
arabic_punctuations = '''`Ã·Ã—Ø›<>_()*&^%][Ù€ØŒ/:"ØŸ.,'{}~Â¦+|!â€â€¦â€œâ€“Ù€'''
english_punctuations = string.punctuation
punctuations_list = arabic_punctuations + english_punctuations

In [11]:
def remove_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)

In [12]:
df['tweets'] = df['tweets'].apply(remove_punctuations)

2. Remove Emojis

In [13]:
def remove_emoji(string):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [14]:
df['tweets'] = df['tweets'].apply(remove_emoji)

3. Stop Words Elimination

In [15]:
nltk.download('stopwords')
stop=stopwords.words('arabic')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [16]:
df['tweets'] = df['tweets'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))

4. Remove Diacritics

In [17]:
def remove_diacritics(text):
    arabic_diacritics = re.compile("""
                             Ù‘    | # Tashdid
                             Ù    | # Fatha
                             Ù‹    | # Tanwin Fath
                             Ù    | # Damma
                             ÙŒ    | # Tanwin Damm
                             Ù    | # Kasra
                             Ù    | # Tanwin Kasr
                             Ù’    | # Sukun
                             Ù€     # Tatwil/Kashida
                         """, re.VERBOSE)
    text = re.sub(arabic_diacritics, '', text)
    text = araby.strip_diacritics(text)
    text = araby.strip_shadda(text)
    text = araby.strip_tashkeel(text)
    return text

In [18]:
df['tweets'] = df['tweets'].apply(remove_diacritics)

5. Remove Non-Arabic Characters

In [19]:
def remove_non_arabic(text):
    text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,ØŒ-./:;<=>ØŸ?@[\]^_`{|}~"""), ' ', text)
    text = re.sub('([@A-Za-z0-9_Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€]+)|[^\w\s]|#|http\S+',' ',text)
    text = re.sub(r'\\u[A-Za-z0-9\\]+',' ',text)
    return text

In [20]:
df['tweets'] = df['tweets'].apply(remove_non_arabic)

5. Remove Repeated Characters

In [21]:
def remove_repeating_characters(text):
    text = text.strip()
    text = re.sub("[Ø¥Ø£Ù±Ø¢Ø§]", "Ø§", text)
    text = re.sub("Ù‰", "ÙŠ", text)
    text = re.sub("Ø¤", "Ø¡", text)
    text = re.sub("Ø¦", "Ø¡", text)
    text = re.sub("Ø©", "Ù‡", text)
    text = re.sub(r'(.)\1+', r'\1', text)
    return text

In [22]:
df['tweets'] = df['tweets'].apply(remove_repeating_characters)

6. Lemmatisation

In [23]:
nltk.download('wordnet')
df['tweets'] = df['tweets'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [24]:
df.loc[:,['dialect','tweets']].head(15)

   dialect                                             tweets
0       IQ                                Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠÙ‡ ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±
1       IQ  ÙŠØ¹Ù†ÙŠ Ù…Ø­Ø³ÙˆØ¨ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† Ø§Ù„ØºØ±Ø¨ ÙŠØ­Øª...
2       IQ                                   Ù…Ø¨ÙŠÙ† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3       IQ                          ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡
4       IQ                                 ÙˆÙŠÙ† Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯
5       IQ  ÙŠØ§Ø®ÙŠ Ø§Ù„Ø§Ø±Ù‡Ø§Ø¨ÙŠ Ø§Ø°Ø§ Ø¹Ø±Ø§Ù‚ÙŠ Ø³Ø¹ÙˆØ¯ÙŠ ÙÙ„Ø³Ø·ÙŠÙ†ÙŠ ÙˆÙŠÙ† Ø§Ù„Ù…Ø´...
6       IQ                 Ù…Ø·Ù„Ø¨ÙŠ ÙŠÙ‚Ø¯Ù… Ø§Ø³ØªÙ‚Ø§Ù„ØªÙ‡ ÙˆÙÙˆÚ¯Ø§Ù‡Ø§ Ø§Ø¹ØªØ°Ø§Ø±
7       IQ  Ø®Ù„Øµ ÙˆØ§Ù„Ù‡ Ù„Ø¹ÙŠÙˆÙ†ÙƒÙ… Ø§Ù†Ø§ Ù…Ø§Ø¹Ù†Ø¯ÙŠ Ø´ÙŠØ¡ Ù…Ø¹Ù‡ Ø¨Ø§Ù„Ø¹ÙƒØ³ Ù…ØªØ§...
8       IQ  ÙŠÙ…ÙƒÙ† Ø³Ø¡Ø§Ù„ ÙØ§Øª Ø§Ù„ÙƒØ«ÙŠØ± Ø§Ù„ÙŠ ÙŠØµÙˆØ± Ø´Ù†Ùˆ Ù…ÙˆÙ‚ÙÙ‡ ÙˆÙƒØ§Ù†Ù‡ ...
9       IQ  Ø§ÙˆÙ„Ø§ Ø§Ù†ÙŠ Ø±Ø¯Øª Ø±Ø¬Ù„ Ø¬Ù†ÙˆØ¨ÙŠ ÙˆØ§Ù„ÙŠ Ø°ÙƒØ± Ø­Ø¬Ø§Ø¨Ù‡Ø§ Ø«Ø§Ù†ÙŠØ§ Ø§...
10      IQ  ÙˆØ§Ù„Ù‡ Ø§Ù„Ù…ÙˆØ¶ÙˆØ¹ Ø¬Ø¯Ø§ Ø­Ø³Ø§Ø³ ÙˆÙŠØ­ÙŠØ± Ø§ØªÙÙ‚ Ù…Ø¹Ùƒ Ø§Ù†Øª Ù„Ø§ØªØ±Ùˆ...
11      IQ    Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù‡ Ø§Ø®ÙˆÙ‡ ÙŠØ¬Ù…Ø¹Ù†Ù‡ Ø§Ù„Ø¹Ø±Ø§Ù‚ Ø§Ù„ÙŠ Ø¨ÙƒÙ„ Ø¬Ø­ÙŠÙ…Ù‡ Ø­Ù„Ùˆ
12      IQ                         ÙŠØ³Ø¹Ø¯ Ù…Ø³Ø§Ùƒ Ø³ÙŠØ¯ Ø§Ù„Ø­Ø±Ù Ø§Ù„Ø­Ø²ÙŠÙ†
13      IQ  Ù‡ Ø¹Ø¯ÙˆÙ„Ù‡ Ú¯Ù„Ø¨Ù‡ ÙˆØ±Ù… Ø¹Ø¯Ù†Ù‡ Ú¯Ù„Ùƒ Ø®Ù„ Ø§ØªÙˆÙ†Ø³ Ù‡Ù…Ù‡ Ø¨ÙƒÙ„ Ø´ÙŠØ¡...
14      IQ                          ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ Ø±ÙˆØ¹Ø§Øª ØªÙˆØ§ØµÙ„Ùƒ

7. Encoding the Target Classes

In [25]:
df.dialect.unique()

array(['IQ', 'LY', 'QA', 'PL', 'SY', 'TN', 'JO', 'MA', 'SA', 'YE', 'DZ',
       'EG', 'LB', 'KW', 'OM', 'SD', 'AE', 'BH'], dtype=object)

In [30]:
#Encoding output labels
encoding = preprocessing.LabelEncoder()

#using fit transform on the data
y = encoding.fit_transform(df.dialect.values)

#replace dialec column with the encoded
df['dialect'] = y

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  458197 non-null  int64
 1   id          458197 non-null  int64
 2   dialect     458197 non-null  int64
 3   tweets      458197 non-null  object
dtypes: int64(3), object(1)
memory usage: 14.0+ MB

In [32]:
df.head(15)

,Unnamed: 0,id,dialect,tweets
0,0,1175358310087892992,4,Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠÙ‡ ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±
1,1,1175416117793349632,4,ÙŠØ¹Ù†ÙŠ Ù…Ø­Ø³ÙˆØ¨ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† Ø§Ù„ØºØ±Ø¨ ÙŠØ­Øª...
2,2,1175450108898565888,4,Ù…Ø¨ÙŠÙ† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,3,1175471073770573824,4,ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡
4,4,1175496913145217024,4,ÙˆÙŠÙ† Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯
5,5,1175668034146643968,4,ÙŠØ§Ø®ÙŠ Ø§Ù„Ø§Ø±Ù‡Ø§Ø¨ÙŠ Ø§Ø°Ø§ Ø¹Ø±Ø§Ù‚ÙŠ Ø³Ø¹ÙˆØ¯ÙŠ ÙÙ„Ø³Ø·ÙŠÙ†ÙŠ ÙˆÙŠÙ† Ø§Ù„Ù…Ø´...
6,6,1175670153884983296,4,Ù…Ø·Ù„Ø¨ÙŠ ÙŠÙ‚Ø¯Ù… Ø§Ø³ØªÙ‚Ø§Ù„ØªÙ‡ ÙˆÙÙˆÚ¯Ø§Ù‡Ø§ Ø§Ø¹ØªØ°Ø§Ø±
7,7,1175671762580856832,4,Ø®Ù„Øµ ÙˆØ§Ù„Ù‡ Ù„Ø¹ÙŠÙˆÙ†ÙƒÙ… Ø§Ù†Ø§ Ù…Ø§Ø¹Ù†Ø¯ÙŠ Ø´ÙŠØ¡ Ù…Ø¹Ù‡ Ø¨Ø§Ù„Ø¹ÙƒØ³ Ù…ØªØ§...
8,8,1175715664398561280,4,ÙŠÙ…ÙƒÙ† Ø³Ø¡Ø§Ù„ ÙØ§Øª Ø§Ù„ÙƒØ«ÙŠØ± Ø§Ù„ÙŠ ÙŠØµÙˆØ± Ø´Ù†Ùˆ Ù…ÙˆÙ‚ÙÙ‡ ÙˆÙƒØ§Ù†Ù‡ ...
9,9,1176019816072777728,4,Ø§ÙˆÙ„Ø§ Ø§Ù†ÙŠ Ø±Ø¯Øª Ø±Ø¬Ù„ Ø¬Ù†ÙˆØ¨ÙŠ ÙˆØ§Ù„ÙŠ Ø°ÙƒØ± Ø­Ø¬Ø§Ø¨Ù‡Ø§ Ø«Ø§Ù†ÙŠØ§ Ø§...
10,10,1176068581487992832,4,ÙˆØ§Ù„Ù‡ Ø§Ù„Ù…ÙˆØ¶ÙˆØ¹ Ø¬Ø¯Ø§ Ø­Ø³Ø§Ø³ ÙˆÙŠØ­ÙŠØ± Ø§ØªÙÙ‚ Ù…Ø¹Ùƒ Ø§Ù†Øª Ù„Ø§ØªØ±Ùˆ...
11,11,1176068868747538432,4,Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù‡ Ø§Ø®ÙˆÙ‡ ÙŠØ¬Ù…Ø¹Ù†Ù‡ Ø§Ù„Ø¹Ø±Ø§Ù‚ Ø§Ù„ÙŠ Ø¨ÙƒÙ„ Ø¬Ø­ÙŠÙ…Ù‡ Ø­Ù„Ùˆ
12,12,1176198561941413888,4,ÙŠØ³Ø¹Ø¯ Ù…Ø³Ø§Ùƒ Ø³ÙŠØ¯ Ø§Ù„Ø­Ø±Ù Ø§Ù„Ø­Ø²ÙŠÙ†
13,13,1176199622412427264,4,Ù‡ Ø¹Ø¯ÙˆÙ„Ù‡ Ú¯Ù„Ø¨Ù‡ ÙˆØ±Ù… Ø¹Ø¯Ù†Ù‡ Ú¯Ù„Ùƒ Ø®Ù„ Ø§ØªÙˆÙ†Ø³ Ù‡Ù…Ù‡ Ø¨ÙƒÙ„ Ø´ÙŠØ¡...
14,14,1176460355939328000,4,ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ Ø±ÙˆØ¹Ø§Øª ØªÙˆØ§ØµÙ„Ùƒ

In [33]:
#save after preprocessing the tweets
df.to_csv('preprocessed_tweets.csv')

In [34]:
#copy the csv file to google drive
!cp preprocessed_tweets.csv /content/drive/MyDrive/

In [35]:
df = pd.read_csv("preprocessed_tweets.csv")

In [36]:
df.head(15)

,Unnamed: 0,Unnamed: 0.1,id,dialect,tweets
0,0,0,1175358310087892992,4,Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠÙ‡ ÙŠÙ†ØªÙØ¶ ÙŠØºÙŠØ±
1,1,1,1175416117793349632,4,ÙŠØ¹Ù†ÙŠ Ù…Ø­Ø³ÙˆØ¨ Ø§Ù„Ø¨Ø´Ø± Ø­ÙŠÙˆÙ†Ù‡ ÙˆØ­Ø´ÙŠÙ‡ ÙˆØªØ·Ù„Ø¨ÙˆÙ† Ø§Ù„ØºØ±Ø¨ ÙŠØ­Øª...
2,2,2,1175450108898565888,4,Ù…Ø¨ÙŠÙ† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,3,3,1175471073770573824,4,ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡
4,4,4,1175496913145217024,4,ÙˆÙŠÙ† Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯
5,5,5,1175668034146643968,4,ÙŠØ§Ø®ÙŠ Ø§Ù„Ø§Ø±Ù‡Ø§Ø¨ÙŠ Ø§Ø°Ø§ Ø¹Ø±Ø§Ù‚ÙŠ Ø³Ø¹ÙˆØ¯ÙŠ ÙÙ„Ø³Ø·ÙŠÙ†ÙŠ ÙˆÙŠÙ† Ø§Ù„Ù…Ø´...
6,6,6,1175670153884983296,4,Ù…Ø·Ù„Ø¨ÙŠ ÙŠÙ‚Ø¯Ù… Ø§Ø³ØªÙ‚Ø§Ù„ØªÙ‡ ÙˆÙÙˆÚ¯Ø§Ù‡Ø§ Ø§Ø¹ØªØ°Ø§Ø±
7,7,7,1175671762580856832,4,Ø®Ù„Øµ ÙˆØ§Ù„Ù‡ Ù„Ø¹ÙŠÙˆÙ†ÙƒÙ… Ø§Ù†Ø§ Ù…Ø§Ø¹Ù†Ø¯ÙŠ Ø´ÙŠØ¡ Ù…Ø¹Ù‡ Ø¨Ø§Ù„Ø¹ÙƒØ³ Ù…ØªØ§...
8,8,8,1175715664398561280,4,ÙŠÙ…ÙƒÙ† Ø³Ø¡Ø§Ù„ ÙØ§Øª Ø§Ù„ÙƒØ«ÙŠØ± Ø§Ù„ÙŠ ÙŠØµÙˆØ± Ø´Ù†Ùˆ Ù…ÙˆÙ‚ÙÙ‡ ÙˆÙƒØ§Ù†Ù‡ ...
9,9,9,1176019816072777728,4,Ø§ÙˆÙ„Ø§ Ø§Ù†ÙŠ Ø±Ø¯Øª Ø±Ø¬Ù„ Ø¬Ù†ÙˆØ¨ÙŠ ÙˆØ§Ù„ÙŠ Ø°ÙƒØ± Ø­Ø¬Ø§Ø¨Ù‡Ø§ Ø«Ø§Ù†ÙŠØ§ Ø§...
10,10,10,1176068581487992832,4,ÙˆØ§Ù„Ù‡ Ø§Ù„Ù…ÙˆØ¶ÙˆØ¹ Ø¬Ø¯Ø§ Ø­Ø³Ø§Ø³ ÙˆÙŠØ­ÙŠØ± Ø§ØªÙÙ‚ Ù…Ø¹Ùƒ Ø§Ù†Øª Ù„Ø§ØªØ±Ùˆ...
11,11,11,1176068868747538432,4,Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù‡ Ø§Ø®ÙˆÙ‡ ÙŠØ¬Ù…Ø¹Ù†Ù‡ Ø§Ù„Ø¹Ø±Ø§Ù‚ Ø§Ù„ÙŠ Ø¨ÙƒÙ„ Ø¬Ø­ÙŠÙ…Ù‡ Ø­Ù„Ùˆ
12,12,12,1176198561941413888,4,ÙŠØ³Ø¹Ø¯ Ù…Ø³Ø§Ùƒ Ø³ÙŠØ¯ Ø§Ù„Ø­Ø±Ù Ø§Ù„Ø­Ø²ÙŠÙ†
13,13,13,1176199622412427264,4,Ù‡ Ø¹Ø¯ÙˆÙ„Ù‡ Ú¯Ù„Ø¨Ù‡ ÙˆØ±Ù… Ø¹Ø¯Ù†Ù‡ Ú¯Ù„Ùƒ Ø®Ù„ Ø§ØªÙˆÙ†Ø³ Ù‡Ù…Ù‡ Ø¨ÙƒÙ„ Ø´ÙŠØ¡...
14,14,14,1176460355939328000,4,ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ Ø±ÙˆØ¹Ø§Øª ØªÙˆØ§ØµÙ„Ùƒ

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    458197 non-null  int64
 1   Unnamed: 0.1  458197 non-null  int64
 2   id            458197 non-null  int64
 3   dialect       458197 non-null  int64
 4   tweets        457992 non-null  object
dtypes: int64(4), object(1)
memory usage: 17.5+ MB